In [1]:
from constants import *
import pandas as pd

In [2]:
df = pd.read_csv('template.csv', names = ['Category', 'Class 1', 'Class 2', 'Class 3', 'Class 4'], header = 0, index_col = 'Category')
df.head()

            Class 1   Class 2   Class 3   Class 4
Category
AP          Class 1   Class 2   Class 3   Class 4
PE          PE 1111   PE 2222   PE 3333       NaN
FWS             NaN       NaN       NaN       NaN
ENGRI           NaN       NaN       NaN       NaN
Core Math   Class 4       NaN       NaN       NaN

In [3]:
x = df.loc[['Liberal Studies']]
lsClasses = [class_.strip() for class_ in x.iloc[0] if not pd.isnull(class_)]
lsClasses

['ECON 1110', 'ECON 1120']